html {
	font-family: 'Montserrat', sans-serif;
}


body {
	margin: 0;
	background-color: #efefef;
	/* background-color: white; */
}


header {
	background-color: #161c23;
	color: white;
	padding: 3rem 2rem;
}


header h1 {
	font-size: 4rem;
	text-align: center;
}

.container {
	width: 400px;
  height: 12;
	margin: 0 auto;
	text-align: center;
}

#title {
	background-color: #161c23;
	border-radius: 0.5rem;
}

.card-header {
	color: white;
}

.text-danger {
	color: white;
}

.card-form {
	transition: box-shadow 0.3s ease;
	background-color: #bfc9ca;
	border-radius: 0.5rem
}

.mx-auto {
	transition: box-shadow 0.3s ease;
	background-color: #bfc9ca;
	border-radius: 0.5rem;
}

.card-form:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.mx-auto:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

