html {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	background-color: #efefef;
}

header {
	background-color: #161c23;
	color: white;
	padding: 3rem 2rem;
}

header h1 {
	font-size: 4rem;
	text-align: center;
}

.container {
	width: 400px;
  height: 12;
	margin: 0 auto;
	text-align: center;
}

#title {
	background-color: #161c23;
	border-radius: 0.5rem;
}

.card-header {
	color: white;
}

.card-text {
	color: white;
}

.card-form {
	transition: box-shadow 0.3s ease;
	background-color: #bfc9ca;
	border-radius: 0.5rem
}

.card-footer {
	transition: box-shadow 0.3s ease;
	background-color: #bfc9ca;
	border-radius: 0.5rem;
  margin: 0 auto;
}

.card-form:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.card-footer:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.form-control {
  margin: 0 0 0.4rem 0;
}

.btn {
  margin: 0 0 0.3rem 0;
}

#new-url {
  font-size: 15px;
  font-weight: bold;
  margin: 0.3rem 0 0 0;
}

#text-new-url {
  margin: 0.2rem 0 0 0;
}

.text-previous-url {
  margin: 1.5rem 0 0 0;
}

.old-url {
  font-size: 13px;
  font-weight: bold;
  margin: 0.2rem 0 0 0;
  padding: 0 0 0.3rem 0;
}
