<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/page_ico.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        rel"stylesheet"
        />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1 id="titulo">Url Shortener</h1>
    </header>
    <section class="container">
      <div class="alert" role="alert">
        <p>{{form.errors}}</p>
      </div>
      <div class="card-form">
        <div class="card-header">
          <h1 id="title" class="card-text">
            Insert your Url
          </h1>
        </div>
        <form action="" method="POST">
          {% csrf_token %}
          <div>{{form.their_url}}</div>
          <span class="btn">
            <button class="btn" type="submit">
              Shorten
            </button>
          </span>
        </form>
      </div>
      <div class="card-footer">
        <h2 id="title" class="card-text">Your shortened Url</h2>
        <p id="text-new-url">Your new Url 👇</p>
        <p id="new-url">{{new_url}}</p>
        <p class="text-previous-url">
        <span>Your previous Url 👇</span>
        </p>
        <p class="old-url"> 
          <i>{{old_url}}</i>
        </p>
      </div>
    </section>
  </body>
</html>

